<?xml version="1.0"?>
<configuration>
  <appSettings> 
    <add key="Port" value="8080"/> 
    <add key="PortOMP" value="8089"/> 
    <add key="ReconnectDelay" value="10"/> <!-- (s) -->
    <add key="ConnectRetries" value="3"/>
    <add key="SendRetries" value="10"/>
    
    <add key="HeartBeatDelay" value="60"/> <!-- (s) -->
    <add key="TimeOutDelay" value="20"/> <!-- (s) -->
    
    <add key="ErrorFolder" value="ErrorFolder\\"/>
    <add key="Error" value="_Err.txt"/>
    <add key="EventFolder" value="EventFolder\\"/>
    <add key="Log" value="_Log.txt"/>
    <add key="UserData" value="UserData\\"/>
    <add key="ConfigFile" value=""/>
    <add key="CustomizeFile" value="accpref.xml"/>
    <add key="Servers" value="Servers.xml"/>
    <add key="DefaultUser" value=""/>    <!-- save default user -->
    <add key="MCLReload" value="30"/>    <!-- MarginCallList Reload interval (s) -->
    <add key="BuildDate" value="Build16.1005"/>
    <add key="Loged" value="true"/>
    <!--<add key="DebugLoged" value="true"/>    --><!--Debug Log -->
    <!--<add key="DealerLoged" value="true"/>    --><!--Dealer Log  -->
    <add key="InvalidNum" value="-2147483648"/>  <!-- -2147483648 Convert invalid -->
    <add key="AONum" value="2147483647"/>
    <add key="SyncDuration" value="10"/>   <!-- (s) -->

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PriceUpBound" value="99999"/>
    <add key="PriceDownBound" value="-99999"/>
    <add key="QtyUpBound" value="999999"/>
    <add key="QtyDownBound" value="0"/>
  
    <add key="AccountInfoBGFlag" value="1"/>
    <add key="RandomTest" value="disabled"/> <!--enabled,  fill value with any other charater different for disabled--> 
    <add key="RandomTestProdList" value=""/><!--HSIU3,HSIG4,HSIM4,HSIU4,HHIG4,HHIH4,HHIM4,HWLF4,GLDF4,GLDG4"-->
    <add key="RandomMin" value="1"/>
    <add key="RandomMax" value="10"/>
    
    <add key="dgPageSize" value="1000"/><!--when datagrid source records over this,paging to show -->
    <add key="bRobbinShow" value="0"/><!-- 1: show robbin, 0 others:the other menu style-->

   <!-- <add key="UpdateXmlUrl" value="http://localhost/tsoprint/UpdateVersion.xml"/>     New version url xml -->
    <add key="VersionInfoFile" value="VersionInfo.xml"/>    <!-- Current app info -->
    <add key="MaximaTicker" value="10000"/>    <!--display maximal Ticker count -->
    <add key="DefaultLanguage" value="en-US"/>    <!--display language -->
     
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
