<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="AnalysisItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
    <section name="SyncItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
    <section name="SyncItems2" type="SportsItemHandler.itemsHandler, itemsHandler" /> 
    </configSections>
  <AnalysisItems>
    <item>ANALYSISTATS</item>
    <item>ANALYSISHISTORYS</item>
    <item>ANALYSISRECENTS</item>
  </AnalysisItems>
    
  <SyncItems>
    <item>LEAGINFO</item> 
    <item>FIXTURES</item>
    <item>RANKS</item>
    <item>SCORERS</item>  
  </SyncItems>
  
  <SyncItems>
    <item>ANALYSISTATS</item>
    <item>ANALYSISHISTORYS</item>
    <item>ANALYSISRECENTS</item>
    <item>TEAMINFO</item>
    <item>LEAGINFO</item>
    <item>FIXTURES</item> 
  </SyncItems>


  <weatherItems>
    <item> Cloudy</item>
    <item>Good</item>
    <item>Heavy rain</item>
    <item>Heavy snow</item>
    <item>Hot</item>
    <item>Light rain</item>
    <item>Light snow</item>
    <item>Rainy</item>
    <item>Stormy</item>
    <item>Sunny</item>
    <item>Very hot</item>
    <item>Windy</item>
    <!--<item>天晴</item>
    <item>天陰</item>
    <item>密雲</item>
    <item>微雨</item>
    <item>大雨</item>
    <item>大霧</item>
    <item>強風</item>
    <item>落雪</item>
    <item>雷暴</item>-->
  </weatherItems>
  

  <appSettings>
    <add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\SCOUTS_DB.FDB;DataSource=127.0.0.1;Port=3051;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
    <!--<add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=D:\DataOfScouts\database\SCOUTS_DB.FDB;DataSource=192.168.162.182;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />-->
    <add key="MangoDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\MANGO_SPORTS_DB.FDB;DataSource=127.0.0.1;Port=3051;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
    <add key="InitialTime" value="12:07" />
    <add key="DailyAnalysisTime" value="16:20" />
    <add key="SkSvrNotify" value="ScoutsApp" />
    <add key="SkSvrNotify2" value="GoGo3 XML Alert Msg" />
    <add key="Alert" value="yes" />
  </appSettings> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data> 

</configuration>
