<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="SyncItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
  </configSections>
  <SyncItems>
    <item>RANKS</item>
    <item>SCORERS</item>
  </SyncItems>
  
  <appSettings>
    <add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\SCOUTS_DB.FDB;DataSource=127.0.0.1;Port=3051;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
    <add key="MangoDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\MANGO_SPORTS_DB.FDB;DataSource=127.0.0.1;Port=3051;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
    <add key="GetTime" value="15:40" />
    <add key="SkSvrNotify" value="ScoutsApp" />
  </appSettings> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data> 

</configuration>
