BODY {background:#87CEFA;}
H1 {color:#299c39;}
H2 {color:#52b552;}
H3 {color:#7bc66b;}
A:active {color:#00008b;}
A:visited {color:#8a2be2;}
HR {color:#f0ffff;}
TABLE {border-color:#000000;background-color:#fffacd;}