<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\SCOUTS_DB.FDB;DataSource=127.0.0.1;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
    <add key="HkjcDBConn" value="User=SYSDBA;Password=masterkey;Database=D:\JC_Soccer_ID_iPhone\DB\HKJCIPHONE.fdb;DataSource=192.168.162.63;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
    <add key="ErrorFolder" value="ErrorFolder\\"/>
    <add key="Error" value="err.txt"/>
    <add key="EventFolder" value="EventFolder\\"/>
    <add key="Log" value="evt.txt"/>
    <add key="PageSize" value="13"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    
    <authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="120" loginUrl="Default.aspx"/>
    </authentication>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>