<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CENTASMSMAININTEConn" value="User=SYSDBA;Password=masterkey;Database=D:\JC_Soccer_ID_iPhone\bak\HKJCIPHONE.fdb ;DataSource=192.168.162.63;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
    <add key="CENTASMSINTEConn" value="User=SYSDBA;Password=masterkey;Database=D:\JC_Soccer_ID_iPhone\bak\HKJCIPHONE2.fdb ;DataSource=192.168.162.63;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
    <add key="CentaSmsErrorFolder" value="ErrorFolder\\"/>
    <add key="CentaSmsError" value="CentaSmsError.txt"/>
    <add key="CentaSmsEventFolder" value="EventFolder\\"/>
    <add key="CentaSmsLog" value="CentaSms_Log.txt"/>
    <add key="PageSize" value="20"/> 
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    
    <authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="120" loginUrl="Default.aspx"/>
    </authentication>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
  </system.web>
</configuration>