<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\SCOUTS_DB.FDB;DataSource=127.0.0.1;Port=3051;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
      <add key="HkjcDBConn" value="User=SYSDBA;Password=masterkey;Database=D:\JC_Soccer_ID_iPhone\db\HKJCIPHONE.FDB;DataSource=192.168.162.63;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
      <add key="ScoutsUrl" value="https://api.statscore.com" />
	  <add key="Client_id" value="262" />
    <add key="Secret_key" value="Eb76sQDkn9oZEki5L9QreKpaPmD3GbuuW2I" />
      <add key="PageSize" value="30" />
      <add key="QueryDays" value="1" />
      <add key="SyncHkjcDateTime" value="2019-02-25 12:00:10.007" />
      <add key="JsonType" value="all" />
      <add key="GetTime" value="6:00" />
      <add key="AutoBooked" value="no" />
      <add key="MarginOfDeviation" value="3" />
      <add key="lpString" value="GoGo3 XML Alert Msg" />
      <add key="LIVEGOALS" value="1001" />
      <add key="GOALDETAILS" value="1003" />
       <add key="IntervalSync" value="5" />
      <add key="UnbookFiles" value="EventFolder\\" />
      <add key="AutoMapping" value="yes" />
      <add key="TestMode" value="yes" />
      <add key="Important_for_trader" value="yes" />
      <add key="ManualGet" value="yes" /> 
      <!--<add key="AutoBookTime" value="12" />  12 am/pm  -->
      <add key="IntervalGetPlayer" value="2" />
      <add key="GetEventShow" value="yes" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
