<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="ScoutsDBConn" value="User=SYSDBA;Password=masterkey;Database=E:\Project\Database\SCOUTS_DB.FDB;DataSource=127.0.0.1;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
	  <add key="HkjcDBConn" value="User=SYSDBA;Password=masterkey;Database=D:\JC_Soccer_ID_iPhone\DB\HKJCIPHONE.fdb;DataSource=192.168.162.63;Port=30500;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
	   <add key="ScoutsUrl" value="https://api.statscore.com"/>
	  <add key="Client_id" value="262"/>
    <add key="Secret_key" value="Eb76sQDkn9oZEki5L9QreKpaPmD3GbuuW2I"/>
      <add key="PageSize" value="30"/>
      <add key="QueryDays" value="5"/>
      <add key="SyncHkjcDateTime" value="2018-10-01 12:00:10.007"/>
      <add key="JsonType" value="all"/>
      <add key="GetTime" value="6:00"/>
      <add key="AutoBooked" value="Yes"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data></configuration>
