<?xml version="1.0" encoding="Big5" ?>
<configuration>
	<configSections>
		<section name="DBConfig" type="SportsItemHandler.DBConfigHandler, DBConfigHandler" />
		<section name="filePath" type="SportsItemHandler.filePathHandler, filePathHandler" />
		<section name="songType" type="SportsItemHandler.songTypeHandler, songTypeHandler" />
		<section name="INIFileInformation" type="SportsItemHandler.INIFileInformationHandler, INIFileInformationHandler" />
		<section name="messageType" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="commonMessageItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="oddsItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="lvoddsMatchItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="matchItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="goalItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="weatherItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="fieldItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="positionItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="adminActionItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="matchStatusType" type="SportsItemHandler.matchStatusTypeHandler, matchStatusTypeHandler" />
		<section name="matchTimeType" type="SportsItemHandler.matchTimeTypeHandler, matchTimeTypeHandler" />
		<section name="HKJCAdminTask" type="SportsItemHandler.HKJCAdminTaskHandler, HKJCAdminTaskHandler" />
		<section name="HKJCReload" type="SportsItemHandler.HKJCReloadHandler, HKJCReloadHandler" />
		<section name="QueueInfo" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="RemotingInfo" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="HorseRaceTrack" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="HorseRaceClass" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="HorseRaceStatus" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="SOCScoreHandi" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="NotifyMessageType" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="WeekType" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="HKJCOddsStatus" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="BSKAlertItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="BSKMatchStatusItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="BSKPositionItems" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="BroadcastChannel" type="SportsItemHandler.BroadcastChannelHandler, BroadcastChannelHandler" />
		<section name="BroadcastOption" type="SportsItemHandler.BroadcastOptionHandler, BroadcastOptionHandler" />
		<section name="ComboAlertHexString" type="SportsItemHandler.itemsHandler, itemsHandler" />
		<section name="FTPChannel" type="SportsItemHandler.FTPClientHandler, FTPClientHandler" />
	</configSections>

	<DBConfig>
		<DB app="soccer" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/Sports/db/ASIA_SOCCER_DB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="basketball" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/NBASports/db/ASIA_NBA.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="replicator" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/Sports/Repdb/ASIA_SOCCER_REPDB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="JCSchedule" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/JCSports/db/JCSPORTS.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="GOGO2_SOCCER" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/Sports2/db/SPORTS_DB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="JCSoccer" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/JCSports/db/JCPS_ASIA_SOCCER_DB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="MessageDispatcher" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/Projects/MessageDispatcher/db/DISPATCHER_DB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="SportAppCfg" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/Sports_AppCfg/SPORT_APPCFG.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="HKJCBasketball" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/NBASports/db2/ASIA_NBA.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="HKJCSoccer" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/JCSports_2G/db/JCSPORTS_2G.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
		<DB app="JCCombo" src="IBOLE.Provider.v4" connStr="Provider=IbOleDb;Location=127.0.0.1;Data Source=D:/JCSports_CB/db/COMBO_DB.GDB;User ID=sysdba;Password=masterkey;Min Pool Size=5;Max Pool Size=100" />
	</DBConfig>

	<filePath>
		<file type="eventlog" path="D:\Projects\wwwsports\event_log\aspnet_event." />
		<file type="errlog" path="D:\Projects\wwwsports\error_log\aspnet_error." />
		<file type="desc" path="D:\Sports\asia_datafile\AsiaGp\" />
		<file type="soccerini" path="D:\Sports\bin\AsianFtpServer.ini" />
		<file type="webServAppini" path="D:\Sports\bin\AsianFtpServer.ini" />
		<file type="IPMUXApapterINI" path="D:\Sports\bin\SocketSvr.ini" />
		<file type="GOGO_MenuINI" path="D:\Sports\bin\info\all_menu.ini" />
		<file type="SendCFG//EnableINI" path="D:\Projects\MacauFeed\config.xml" />
		<file type="jc_desc" path="D:\JCSports\Datafile\" />
		<file type="HKJC_MenuINI" path="D:\JCSports_2G\bin\info\all_menu.ini" />
		<file type="JCMatchLeakage" path="D:\Projects\wwwsports\sports\jcpager\" />
		<file type="NbaINI" path="D:\NBASports\bin\AsianNBAServer.ini" />
		<file type="JCNbaINI" path="D:\NBASports\JCbin\AsianNBAServer.ini" />
		<file type="ProcessFlag" path="D:\Projects\SportsParser\bin\Debug\sportsconfig.xml" />
		<file type="JCPrep_SystemINI" path="D:\Projects\JCPrep\JCPrep_System.ini" />
		<file type="ComboNbaINI" path="D:\JCSports_CB\bin\CB_Schedule_cfg.ini" />
	</filePath>

	<songType>
		<song id="0112" name="GoalGoal" />
		<song id="0096" name="紅牌歌曲" />
		<song id="0099" name="SingWhenWin" />
	</songType>

	<messageType>
		<item>BlankMessage</item>
		<item>LiveGoal</item>
		<item>AllGoal</item>
		<item>AllOdds</item>
		<item>DeleteMatch</item>
		<item>ModifyMatch</item>
		<item>AdminMenuResend</item>
		<item>AnalysisBG</item>
		<item>AnalysisHistory</item>
		<item>AnalysisPlayers</item>
		<item>AnalysisAdditional</item>
		<item>AnalysisStat</item>
		<item>AdminResend</item>
		<item>AdminDeletePager</item>
		<item>AdminDeleteAll</item>
		<item>GoalDetails</item>
		<item>livePlace</item>
		<item>AnalysisRecent</item>
		<item>SportsNews</item>
		<item>OtherCo</item>
		<item>liveOdds</item>
		<item>AdminAlert</item>
		<item>Rank</item>
		<item>otherGoal</item>
		<item>CorrectScore</item>
		<item>BigSmallOdds</item>
		<item>HKJCSoccer</item>
		<item>OtherCoModify</item>
		<item>ChartResend</item>
		<item>BSKMatch</item>
		<item>BSKResult</item>
		<item>BSKGroupRank</item>
		<item>BSKPersonalRank</item>
		<item>BSKModifyMatch</item>
		<item>ForeOdds</item>
		<item>Scorers</item>
		<item>MatchReport</item>
		<item>OtherSoccerOdds</item>
		<item>OtherSoccerModifyMatch</item>
		<item>OtherSoccerLiveGoal</item>
		<item>OtherSoccerAllGoal</item>
		<item>LivePlace</item>
	</messageType>

	<commonMessageItems>
		<item>使用者權限已過期，請重新登入！</item>
		<item>存取錯誤，請重新整理版面或先登出再重試，若情況持續，請聯絡相關技術人員。</item>
		<item>擷取</item>
		<item>存取過程錯誤，行動無效，請重試！</item>
	</commonMessageItems>

	<oddsItems>
		<item>正常</item>
		<item>停止</item>
		<item>暫停</item>
		<item>走地</item>
		<item>半休</item>
	</oddsItems>

	<lvoddsMatchItems>
		<item>上半</item>
		<item>下半</item>
		<item>停止</item>
		<item>加時</item>
		<item>十二碼</item>
		<item>待定</item>
	</lvoddsMatchItems>

	<matchItems>
		<item>未開</item>
		<item>上半</item>
		<item>休息</item>
		<item>下半</item>
		<item>完場</item>
		<item>加時</item>
		<item>消(取消)</item>
		<item>斬(腰斬)</item>
		<item>改期</item>
		<item>延遲</item>
		<item>待定</item>
	</matchItems>

	<goalItems>
		<item>無效</item>
		<item>有效</item>
		<item>詐糊</item>
		<item>紅牌1</item>
		<item>紅牌2</item>
		<item>紅牌3</item>
	</goalItems>

	<weatherItems>
		<item>天晴</item>
		<item>天陰</item>
		<item>密雲</item>
		<item>微雨</item>
		<item>大雨</item>
		<item>大霧</item>
		<item>強風</item>
		<item>落雪</item>
		<item>雷暴</item>
	</weatherItems>

	<fieldItems>
		<item>主</item>
		<item>客</item>
		<item>中</item>
	</fieldItems>

	<INIFileInformation>
		<ini type="menu" section="MENU">
			<key>Menu</key>
		</ini>
	</INIFileInformation>

	<positionItems>
		<item>前</item>
		<item>中</item>
		<item>後</item>
		<item>門</item>
		<item>備</item>
	</positionItems>

	<adminActionItems>
		<item>RESEND</item>
		<item>CLR_TBL</item>
		<item>CLR_ALL</item>
		<item>OTHODDS_RESEND</item>
		<item>OTHODDS_DEL</item>
		<item>OTHODDS_ALLDEL</item>
	</adminActionItems>

	<matchStatusType>
		<matchStatus id="N" name="未開賽" />
		<matchStatus id="F" name="上半場開始" />
		<matchStatus id="H" name="上半場結束" />
		<matchStatus id="S" name="下半場開始" />
		<matchStatus id="E" name="下半場結束(有加時)" />
		<matchStatus id="G" name="加時上半場" />
		<matchStatus id="J" name="加時上半場完結" />
		<matchStatus id="I" name="加時下半場" />
		<matchStatus id="K" name="加時下半場完結" />
		<matchStatus id="C" name="比賽取消" />
		<matchStatus id="D" name="比賽延期" />
		<matchStatus id="X" name="比賽腰斬" />
		<matchStatus id="Y" name="已完場" />
		<matchStatus id="T" name="十二碼進行" />
	</matchStatusType>

	<matchTimeType>
		<matchTime id="00" name="上半場" />
		<matchTime id="01" name="下半場" />
		<matchTime id="02" name="加時上半場" />
		<matchTime id="03" name="加時下半場" />
		<matchTime id="04" name="黃金入球" />
		<matchTime id="05" name="十二碼" />
	</matchTimeType>

	<HorseRaceTrack>
		<item>沙田</item>
		<item>快活谷</item>
		<item>澳門</item>
	</HorseRaceTrack>

	<HorseRaceClass>
		<item>國際賽</item>
		<item>新馬</item>
		<item>精英班</item>
		<item>1班</item>
		<item>2班</item>
		<item>3班</item>
		<item>4班</item>
		<item>5班</item>
		<item>6班</item>
		<item>7班</item>
		<item>8班</item>
		<item>9班</item>
		<item>10班</item>
		<item>11班</item>
	</HorseRaceClass>

	<HorseRaceStatus>
		<item>未開賽</item>
		<item>入閘</item>
		<item>開跑</item>
		<item>競賽中</item>
		<item>初段</item>
		<item>中段</item>
		<item>末段</item>
		<item>跑完</item>
		<item>影相</item>
		<item>延訊</item>
		<item>抗議</item>
		<item>作實</item>
	</HorseRaceStatus>

	<SOCScoreHandi>
		<item>0</item>
		<item>0/0.5</item>
		<item>0.5</item>
		<item>0.5/1</item>
		<item>1</item>
		<item>1/1.5</item>
		<item>1.5</item>
		<item>1.5/2</item>
		<item>2</item>
		<item>2/2.5</item>
		<item>2.5</item>
		<item>2.5/3</item>
		<item>3</item>
		<item>3/3.5</item>
		<item>3.5</item>
		<item>3.5/4</item>
		<item>4</item>
		<item>4/4.5</item>
		<item>4.5</item>
		<item>4.5/5</item>
		<item>5</item>
		<item>5/5.5</item>
		<item>5.5</item>
		<item>5.5/6</item>
		<item>6</item>
		<item>6/6.5</item>
		<item>6.5</item>
		<item>6.5/7</item>
		<item>7</item>
		<item>7/7.5</item>
		<item>7.5</item>
		<item>7.5/8</item>
		<item>8</item>
		<item>8/8.5</item>
		<item>8.5</item>
		<item>8.5/9</item>
		<item>9</item>
		<item>9/9.5</item>
		<item>9.5</item>
		<item>9.5/10</item>
		<item>10</item>
		<item>10/10.5</item>
		<item>10.5</item>
		<item>10.5/11</item>
		<item>11</item>
		<item>11/11.5</item>
		<item>11.5</item>
		<item>11.5/12</item>
		<item>12</item>
		<item>12/12.5</item>
		<item>12.5</item>
		<item>12.5/13</item>
		<item>13</item>
		<item>13/13.5</item>
		<item>13.5</item>
		<item>13.5/14</item>
		<item>14</item>
		<item>14/14.5</item>
		<item>14.5</item>
		<item>14.5/15</item>
		<item>15</item>
		<item>15/15.5</item>
		<item>15.5</item>
	</SOCScoreHandi>

	<!-- The first element is the default message type -->
	<NotifyMessageType>
		<item>MSMQ</item>
		<item>Remoting</item>
	</NotifyMessageType>

	<!-- Used when MSMQ was selected -->
	<QueueInfo>
		<item>.\private$\gogo2_queue</item>
		<item>.\private$\goalalert_queue</item>
	</QueueInfo>

	<!-- Used when Remoting was selected -->
	<RemotingInfo>
		<item>tcp://127.0.0.1:14142/SendRemotingMsg</item>
		<item>tcp://127.0.0.1:14242/SendRemotingMsg</item>
	</RemotingInfo>

	<HKJCAdminTask>
		<task name="resend_odds" id="1" />
		<task name="clr_tbl_odds" id="2" />
		<task name="reload_to_pager" id="98" />
		<task name="reload_to_db2" id="99" />
		<task name="activate_chart" id="101" />
		<task name="sync_clock" id="102" />
		<task name="prune_chart" id="103" />
		<task name="send_ini" id="1000" />
		<task name="sync_team" id="96" />
		<task name="schedule" id="97" />
	</HKJCAdminTask>

	<WeekType>
		<item>星期日</item>
		<item>星期一</item>
		<item>星期二</item>
		<item>星期三</item>
		<item>星期四</item>
		<item>星期五</item>
		<item>星期六</item>
		<item>其他</item>
	</WeekType>

	<HKJCOddsStatus>
		<item>取消</item>
		<item>正常</item>
	</HKJCOddsStatus>

	<BSKAlertItems>
		<item>沒有</item>
		<item>只響機</item>
		<item>全部</item>
	</BSKAlertItems>

	<BSKMatchStatusItems>
		<item>未開</item>
		<item>進行</item>
		<item>腰斬</item>
		<item>一完</item>
		<item>二完</item>
		<item>三完</item>
		<item>四完</item>
		<item>加一</item>
		<item>完場</item>
		<item>待定</item>
		<item>改期</item>
		<item>延遲</item>
	</BSKMatchStatusItems>

	<BSKPositionItems>
		<item>控球後衛</item>
		<item>得分後衛</item>
		<item>小前鋒</item>
		<item>大前鋒</item>
		<item>中鋒</item>
	</BSKPositionItems>

	<BroadcastChannel>
		<channel name="Broadcast2GOGO" uri="tcp://127.0.0.1:8801/BroadcastMessage" />
		<channel name="Broadcast2HKJC" uri="tcp://127.0.0.1:8801/BroadcastMessage" />
	</BroadcastChannel>

	<BroadcastOption>
		<option type="IPMUXAdapter" msg="SPORTS_JOB" />
	</BroadcastOption>

	<!--
	<ComboAlertHexString>
		<item>87</item>
		<item>C0</item>
		<item>82</item>
		<item>84</item>
		<item>E8</item>
		<item>DE</item>
		<item>82</item>
		<item>C0</item>
		<item>E0</item>
		<item>BF</item>
		<item>A4</item>
		<item>87</item>
		<item>C0</item>
		<item>E0</item>
		<item>FF</item>
		<item>FF</item>
		<item>89</item>
		<item>E0</item>
		<item>82</item>
		<item>94</item>
		<item>E8</item>
		<item>87</item>
		<item>C7</item>
	</ComboAlertHexString>
	-->

	<FTPChannel>
		<FTP name="SportsParser" address="127.0.0.1" port="21" mode="Active" />
	</FTPChannel>

	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
</configuration>
