<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
<appSettings>
  <add key="EventPath" value="event_log\\" />
 <add key="ErrorPath" value="event_error\\" />
 <add key="EventLog" value="Remote_Event.txt" />
 <add key="ErrorLog" value="Remote_Error.txt" />
 <add key="SkSvrNotify" value="GoGo3 XML Alert Msg" /> 
  <add key="NotifyApplication" value="E:\Project\AppProject\DataOfScouts\DataOfScouts\bin\Debug\ScoutDBProvider\ScoutDBProvider" /> 
  <add key="SkSvrNotify2" value="ScoutsApp" />
  <add key="SkSvrNotify3" value="DataOfScoutsApp" />
  <add key="NotifyDataOfScouts" value="E:\Project\AppProject\DataOfScouts\DataOfScouts\bin\Debug\DataOfScouts" />
</appSettings>
<system.runtime.remoting>
		<application name="RemoteObjectHost">
			<service>
				<wellknown type="RemoteService.Win32.Win32Message, Win32Message" objectUri="BroadcastMessage" mode="SingleCall" />
			</service>

			<channels>
				<channel ref="tcp" port="8805">
					<serverProviders>
						<formatter ref="binary" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
